<div component="com_intruduction">
    <div class="ondoor">
        <span class="i"></span>
        <span class="f">
            <font>上门维修</font><br>
            随时随地，想修就修
        </span>
    </div>
    <div class="quality_assurance ">
        <span class="i"></span>    
        <span class="f">
            <font>180天质保</font><br>
            完全放心，给你绝对的保障
        </span>
    </div>
    <div class="original_accessories">
        <span class="i"></span>    
        <span class="f">
            <font>原厂配件</font><br>
            富士康原厂配件
        </span>
    </div>
</div>