[component="repari/posted"]{
    .container{
        background-color: #fff;
        padding:20px;
        .header{
            border-bottom:1px solid #e8e8e8;
            text-align: center;
            padding:10px 0;
            .t{
                display: inline-block;
                .left{
                    float:left;
                    font-size:40px;
                    color:#f7b26d;
                    font-weight: 800;
                    margin-right:30px;
                }
                .right{
                    float:right;
                    .t1{
                        font-size:18px;
                        color:#f7b26d;
                        white-space: nowrap;                        
                    }
                    .t2{
                        font-size:14px;
                        white-space: nowrap;
                    }
                }    
            }
        }
        .body{            
            border-bottom:1px solid #e8e8e8;
            padding:20px 0 20px 258px;
        }
        .footer{            
            padding:20px 0 100px 258px;
            .item{
                .label{
                    display:inline-block;
                }
                .value{
                    display:inline-block;
                }
            }
        }
    }
}