[component="navigator"] {
  position: relative;
  z-index: 1000; }
  [component="navigator"].container {
    text-align: left;
    padding-top: 67px;
    min-width: 1600px;
    font-size: 24px;
    padding-bottom: 24px;
    background-color: #f9f9f9; }
    [component="navigator"].container .nav.current a {
      color: #76478f; }
    [component="navigator"].container .nav {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      [component="navigator"].container .nav a {
        color: #484848; }
      [component="navigator"].container .nav .active {
        color: #794693; }
      [component="navigator"].container .nav .active {
        background-color: #404042;
        color: #fff; }
        [component="navigator"].container .nav .active .menu_container {
          display: block; }
      [component="navigator"].container .nav .nav_item a {
        padding: 23px;
        text-decoration: none; }
      [component="navigator"].container .nav .menu {
        padding: 23px;
        cursor: pointer; }
        [component="navigator"].container .nav .menu.active .arrow {
          transition: all 0.3s;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          border-color: #fff #fff transparent transparent; }
        [component="navigator"].container .nav .menu .arrow {
          transition: all 0.3s;
          border-color: #484848 #484848 transparent transparent;
          border-style: solid;
          border-width: 2px;
          display: inline-block;
          height: 10px;
          margin-left: 5px;
          position: relative;
          top: -2px;
          -webkit-transform: rotate(135deg);
                  transform: rotate(135deg);
          -webkit-transform-origin: 84% 37% 0;
                  transform-origin: 84% 37% 0;
          width: 10px; }
    [component="navigator"].container .menu_container {
      display: none;
      height: 76px;
      line-height: 76px;
      position: absolute;
      vertical-align: middle;
      top: 122px;
      background-color: #404042;
      width: 100%;
      border-radius: 3px;
      text-align: center; }
      [component="navigator"].container .menu_container .item {
        padding: 20px;
        cursor: pointer; }
        [component="navigator"].container .menu_container .item a {
          color: #fff;
          text-decoration: none; }
    [component="navigator"].container .logo {
      background: transparent url("/pc/resource/img/logo.png") no-repeat scroll 0 0;
      float: left;
      height: 72px;
      margin: -36px 20px 0 120px;
      position: relative;
      width: 166px; }
