[component="navigator"] {
  position: relative;
  z-index: 1000; }
  [component="navigator"].container {
    text-align: center;
    padding-top: 67px;
    min-width: 1600px;
    font-size: 24px;
    padding-bottom: 24px;
    background-color: #f9f9f9; }
    [component="navigator"].container .nav.current a {
      color: #76478f; }
    [component="navigator"].container .nav {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      [component="navigator"].container .nav a {
        color: #484848; }
      [component="navigator"].container .nav .active {
        color: #794693; }
      [component="navigator"].container .nav .active {
        background-color: #404042;
        color: #fff; }
        [component="navigator"].container .nav .active .menu_container {
          display: block; }
      [component="navigator"].container .nav .nav_item {
        padding: 23px; }
        [component="navigator"].container .nav .nav_item a {
          text-decoration: none; }
      [component="navigator"].container .nav .menu {
        padding: 23px;
        cursor: pointer; }
    [component="navigator"].container .menu_container {
      display: none;
      height: 76px;
      line-height: 76px;
      position: absolute;
      vertical-align: middle;
      top: 123px;
      background-color: #404042;
      width: 100%;
      border-radius: 3px; }
      [component="navigator"].container .menu_container .item {
        padding: 20px;
        cursor: pointer; }
        [component="navigator"].container .menu_container .item a {
          color: #fff;
          text-decoration: none; }
    [component="navigator"].container .logo {
      background: transparent url("/pc/resource/img/logo.png") no-repeat scroll 0 0;
      float: left;
      height: 72px;
      left: 150px;
      margin: -36px -143px 0 143px;
      position: relative;
      width: 166px; }
