<div component="about_us">
    <h1 class="center title">关于我们</h1>
    <h4 class="center">
        <span class="subtitle">About Us</span>
    </h4>
    <div class="body clearfix">
        <div class="t company">
            <div class="img">

            </div>
            <div class="p">
                <p>深圳前海意时网络科技有限公司，成立于2015年，推出高品质生活服务类应用一“Patica手机服务”深圳意时网以“互联网+”概念，切入手机维修行业，以O2O模式为用户提供透明便捷的手机维修，致力于改变手机维修行业乱象…</p>
            </div>
            <div class="footer">
                <a class="btn" href="">MORE</a>
            </div>
        </div>
        <div class="t cooperation">
            <div class="img">
            </div>
            <div class="p">
                <p>PaTica手机服务团队已为多个知名互联网企业提供服务，包括腾讯、搜狐、携程等。使用企业的员工除了享受企业定制上门维修服务之外，还能领取免费贴钢化膜的特殊福利。</p>
            </div>
            <div class="footer">
                <a class="btn" href="">MORE</a>
            </div>
        </div>
    </div>
</div>
